.wrapper-doc-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 2px;
}

nav {
  width: 100%;
  margin-bottom: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  border: 1px solid #000;
  border-radius: 5px;
}

.navigation li {
  display: flex;
  flex: 1;
  align-content: center;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #000;
}

.navigation li a {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  background: #bfbfbf;
  color: #000;
  width: 100%;
  padding: 20px;
}

.navigation li a:hover {
  background: #ffffff;
}
.active {
  background: #ffffff !important;
}

.content {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 50px 10px;
}

.table-container {
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background: #ccc;
  border: 1px solid #000;
  font-size: 14px;
  padding: 5px;
  text-align: left;
}

.width-40 {
  width: 40%;
}

.width-20 {
  width: 20%;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

td {
  border-right: 1px solid #000;

  font-size: 14px;
  padding: 5px;
  text-align: left;
}

.text-center {
  text-align: center;
}

td a {
  text-decoration: none;
  color: #000;
}

/* Modal styles */
/* Modal Upload Css styles */

.modal-upload {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content-upload {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
 
  border-radius: 0.5rem;
  border: 1px solid #000;
  align-items: center;
  z-index: 2;
}

.modal-body-upload {
  display: flex;
  flex-direction: column;
  width: 450px;
  min-height: 200px;
  align-content: flex-start;
  padding: 10px 20px;
}
.modal-body-upload > div {
  margin: 20px 0 20px 0;
  display: flex;
  align-items: center;
  align-content: center;
}
.modal-body-upload span {
  font-size: 12px;
  font-weight: 600;
}
.file-desc-div, .file-upload-div{
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
}
.file-desc-div input {
  flex: 3;
 
}

.file-desc-div span {
  flex: 2;
}
.left-div-file-upload {
  flex: 1;
  text-align: center;
  padding: 0 0 0 10px;
}
.right-div-file-upload {
  flex: 2;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
}
.right-div-file-upload button{
  margin: 0 20px;
  position: relative;
  background: #b3b3b3;
}
.file-upload-div input {
  left: 25px;
  position: relative;
  
}
.hidden{
  display: none;
}
.upload-btn-div{
  padding: 0 0 0 20px;
}

.upload-btn-div button {
  background: #b3b3b3;
  padding: 5px;
  border-radius: 5px;
  margin-right: 25px;
}

.btn-upload {
  position: absolute;
  left: 0;
  bottom: 4px;
  background: #66ffff;
}

/* Modal Delete Css */
.modal-delete {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 24rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  align-items: center;
  z-index: 2;
}

.modal-head {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  border-bottom: 1px solid #000;
  width: 100%;
  position: relative;
  padding: 4px 0 10px 1px;
}

.modal-head h3 {
  font-weight: 600;
}

.modal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  align-content: flex-end;
  min-height: 200px;
}

.modal-img {
  flex: 1;
}
.modal-text {
  flex: 4;
  font-weight: 600;
}
.modal-left {
  flex: 3;
}

.modal-right {
  flex: 2;
}

.modal-confirm {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}

.modal-confirm .button {
  display: inline-block;
  min-width: 100px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.modal-confirm > span.button:hover {
  border: 1px solid #5353ff;
}
.modal-confirm > span {
  flex: 1;
  margin: 0 5px;
}
.close-button,
.close-button-upload,
.close-button-edit {
  padding: 0 4px;
  position: absolute;
  top: 2px;
  right: 4px;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #000;
  cursor: pointer;
}

.close-button:hover {
  background-color: darkgray;
}

.delete-button,
.edit-button,
.share-button {
  cursor: pointer;
}

/* Modal Edit Css */
.modal-edit {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content-edit {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #000;
  align-items: center;
  z-index: 2;
}

.modal-body-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  align-content: center;
  min-height: 200px;
  width: 450px;
  padding: 5px 0;
}
.file-desc-div {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal-body-edit .file-desc-div span {
  margin-right: 20px;
  flex: 1;
  white-space: no-wrap;
  font-size: 12px;
  font-weight: 600;
}
.modal-body-edit .file-desc-div input {
  flex: 3;
  
}

.file-desc-div input{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}
.save-btn-div {
  margin: 30px 0;
  position: relative;
  left: 40px;
}

.save-btn-div button {
  background: #b3b3b3;
  padding: 8px 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

button {
  padding: 5px 20px;
  width: 120px;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  background: #66ffff;
  font-weight: 600;
  font-size: 12px;
}
