.wrapper-login-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}
nav {
  width: 100%;
  margin-bottom: 50px;
}
.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  border: 1px solid #000;
  border-radius: 5px;
}

.navigation li {
  display: flex;
  flex: 1;
  align-content: center;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #000;
}

.navigation li a {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  background: #bfbfbf;
  color: #000;
  width: 100%;
  padding: 20px;
}

.navigation li a:hover {
  background: #ffffff;
}
.active {
  background: #ffffff !important;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 50px;
}

p {
  font-weight: 600;
}

span {
  font-weight: normal;
}
