.wrapper-register {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  margin-top: 50px;
  align-content: center;
}
.wrapper-register > * {
  margin-bottom: 50px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

.register-form {
  display: flex;
  align-content: center;
  flex-direction: column;
  position: relative;
  right: 12px;
}

.form-group {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  position: relative;
  right: 50px;
}

.button-div {
  display: flex;
  justify-content: center;
  position: relative;
  left: 15px;
}

label {
  margin-right: 20px;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 0;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
}

button {
  padding: 5px 20px;
  width: 120px;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  background: #66ffff;
  font-weight: 600;
  font-size: 12px;
}
