.wrapper-share {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 2px;
}

nav {
  width: 100%;
  margin-bottom: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  border: 1px solid #000;
  border-radius: 5px;
}

.navigation li {
  display: flex;
  flex: 1;
  align-content: center;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #000;
}

.navigation li a {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  background: #bfbfbf;
  color: #000;
  width: 100%;
  padding: 20px;
}

.navigation li a:hover {
  background: #ffffff;
}
.active {
  background: #ffffff !important;
}

.content {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.content-header {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.content-header span {
  font-weight: normal;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 50px 10px;
}

.table-container {
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #000;
  width: 100%;
}

th {
  background: #ccc;
  font-size: 14px;
  padding: 5px;
  text-align: left;
}

th:first-of-type {
  border-right: 1px solid #000;
}

.width-50 {
  width: 50%;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

td {
  border-right: 1px solid #000;

  font-size: 14px;
  padding: 5px;
  text-align: left;
}

.text-center {
  text-align: center;
}

td a {
  text-decoration: none;
  color: #000;
}

.select-div {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 30px;
  width: 100%;
}

.select-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}
.select-container > * {
  margin: 0 20px 0 0;
}

.select-div span {
  flex: 1;
}

.select-div select {
  flex: 2;
  padding: 5px;
  margin-right: 40px;
}

.select-div button {
  flex: 1;
  padding: 8px 0;
}

.styled-select {
  width: 50px;
  height: 30px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background: url(../img/down-arrow.png) no-repeat right white;
  border-radius: 5px;
  background-position-x: 99%;
  display: inline-block;
  position: relative;
  border: 1px solid #000;
  text-align: center;

  
}

.styled-select option{
  line-height: 1.2;
  min-height: 2em;
  padding: 2px;

}



/* Modal styles */

/* Modal Remove Css */
.modal-remove {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 24rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  align-items: center;
  z-index: 2;
}

.modal-head {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  border-bottom: 1px solid #000;
  width: 100%;
  position: relative;
  padding: 4px 0 10px 1px;
}

.modal-head h3 {
  font-weight: 600;
}

.modal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  align-content: flex-end;
  min-height: 200px;
}

.modal-img {
  flex: 1;
}
.modal-text {
  flex: 4;
  font-weight: 600;
}
.modal-left {
  flex: 3;
}

.modal-right {
  flex: 2;
}

.modal-confirm {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}

.modal-confirm .button {
  display: inline-block;
  min-width: 100px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.modal-confirm > span.button:hover {
  border: 1px solid #5353ff;
}
.modal-confirm > span {
  flex: 1;
  margin: 0 5px;
}
.close-button {
  padding: 0 4px;
  position: absolute;
  top: 2px;
  right: 4px;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #000;
  cursor: pointer;
}

.close-button:hover {
  background-color: darkgray;
}

.remove-button {
  cursor: pointer;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.add-share-button {
  background: #b3b3b3;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 20px;
  width: 120px;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  background: #66ffff;
  font-weight: 600;
  font-size: 12px;
}
