.wrapper-user-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  width: 100%;
  margin-bottom: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  border: 1px solid #000;
  border-radius: 5px;
}

.navigation li {
  display: flex;
  flex: 1;
  align-content: center;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #000;
}

.navigation li a {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  background: #bfbfbf;
  color: #000;
  width: 100%;
  padding: 20px;
}

.navigation li a:hover {
  background: #ffffff;
}
.active {
  background: #ffffff !important;
}

.content {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 50px 10px;
}

.table-container {
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  /* border: 1px solid #000; */
  width: 100%;
}

th {
  background: #ccc;
  border: 1px solid #000;
  font-size: 14px;
  padding: 5px;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

td {
  border-right: 1px solid #000;
  font-size: 14px;
  padding: 5px;
  text-align: left;
}

.text-center {
  text-align: center;
}

td a {
  text-decoration: none;
  color: #000;
}

.width-40{
  width: 40%;
}

/* Modal styles */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 24rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  align-items: center;
}
.modal-head {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  border-bottom: 1px solid #000;
  width: 100%;
  position: relative;
  padding: 4px 0 10px 1px;
}

.modal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  align-content: flex-end;
  min-height: 200px;
}

.modal-img {
  flex: 1;
}
.modal-text {
  flex: 4;
  font-weight: 600;
}
.modal-left {
  flex: 3;
}

.modal-right {
  flex: 2;
}

.modal-confirm {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}

.modal-confirm .button {
  display: inline-block;
  min-width: 100px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.modal-confirm > span {
  flex: 1;
  margin: 0 5px;
}
.close-button {
  padding: 0 4px;
  position: absolute;
  top: 2px;
  right: 4px;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #000;
  cursor: pointer;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
