.wrapper-welcome {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  margin-top: 100px;
  align-content: center;
}
.wrapper-welcome > * {
  margin-bottom: 50px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

.button {
  padding: 5px 20px;
  min-width: 200px;
  border: 2px solid #000;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  text-align: center;
  font-size: 14px;

}

a {
  text-decoration: none;
  color: inherit;
}
